{{ form_start(form) }}
    {# {{ form_widget(form) }} #}
    
    <div class="row">
        <div class="col">
            {# {{ form_row(form.nom) }} #}
            {{ form_label(form.identifiant) }}
            {{ form_widget(form.identifiant) }}
        </div>
        <div class="col">
            {# {{ form_row(form.nom) }} #}
            {{ form_label(form.texte) }}
            {{ form_widget(form.texte) }}
        </div>
        <div class="col">
            {# {{ form_row(form.nom) }} #}
            {{ form_label(form.situation) }}
            {{ form_widget(form.situation) }}
        </div>
        {# <div class="col" id="some-custom-id">
            {{ form_row(form.titre) }}
        </div> #}
    </div>
    <button class="btn links">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
